.divBuscador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color:#3b5998;
    padding: 30px;
    box-sizing: border-box;
}

.divBuscador input {
    width: 75%;
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

.divBuscador img {
    margin: 0 3px;
    height: 50%;
    box-sizing: border-box;
}