.divPublicacion {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.usuario {
    width: 100%;
    display: flex;
    align-content: center;
    box-sizing: border-box;
}

.usuarioAvatar {
    margin: auto 0;
    width: 20%;
    text-align: center;
}

.usuarioAvatar img {
    margin: auto;
    width: 70%;
    border-radius: 50%;
}

.usuarioDescrip {
    line-height: 7px;
    width: 70%;
    font-size: 90%;
}

.contenidoPub {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.contenidoPub p {
    margin: 8px;
}

.contenidoPub img {
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.divReacciones {
    width: 100%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}