.botonesReacciones {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #f7f7f7;
}

.socialMediaBtn {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 18px;
}

.socialMediaBtn:hover {
    background-color: blue;
}